
#canvas-game{
  width: 1000px;
  height: 500px;
  background: url("images/curtain.png") no-repeat;
  background-size: cover;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 5.5%;
}

#the-score {
  font-weight: bolder;
  font-size: 40px;
  color: white;
  text-align: center;
  float: 
}

h1 {
  color: darkred;
  font-weight: bolder;
  font-size: 67px;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(150, 150, 150, 1);
}

h2 {
  color: #456783;
  font-weight: bolder;
  font-size: 35px;
  text-align: center;
  text-shadow: 1px #ff0000;
  text-shadow: 1px #ff0000;
}

p {
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}

#knife {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -10px;
  padding: 0;
}